body{ background-color: #00665e;}
        h1 {color:greenyellow; font-family:'Trebuchet MS'; font-size: 60px; font-weight: bold; text-align: center;  }
        h2 {color:greenyellow; font-family: 'Trebuchet MS'; font-size: 40px; font-weight: bold; font-style: italic; text-align: center; }  
        h3 {color: greenyellow; font-family: 'Trebuchet MS'; font-size: 25px; font-weight: bold;font-style: italic;text-align: center;}
        